.jumbotron {
	background-image: url('/static/img/mainHeader.jpg');
	background-position: center;
	background-size: cover;
	height: 500px;
	z-index: -2;
	position: relative;
  text-align: center;
}

.overlay {
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
