{% load static %}

	<div class="container-fluid" id="body">	
		<div class="container bg-light text-dark shadow" style="margin-top:-100px;">
			<div class="row" style="height:600px;">
				<h2 class="display-5">
					Konten pertama
				</h2>
			</div>
		</div>

		<div class="container bg-dark text-light shadow">
			<div class="row" style="height:500px;">
				<h2 class="display-5">
					Konten kedua
				</h2>
			</div>
		</div>

		<div class="container bg-light text-primary shadow">
			<div class="row justify-content-center" style="height:500px;">
				<div class="col-md-8">
					<h2> Konten ketiga </h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>